body {
    margin: 0;
    background-color: #e8e8e8;
}

:root {
    --white-color: #fff;
    --black-color: #333;
    --hover-color: #e8ece7;
    --primary-color: #f4a7ba;
    --primary-text-color: #df8ca6;
    --button-color: #ec94a9;
    --button-hover-color: #cf4764;
    --text-color: #333;
    --header-height: 120px;
    /* --navbar-height: 35px; */
    --navbar-width: 1350px;
    --header-with-search: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}
