.narbar {
    background-color: transparent;
    height: 80px;
    padding: 0 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.narbar__content {
    display: grid;
    grid-template-columns: 240px 1fr 240px;
    grid-template-areas: "logo options cart";
}

.navbar__logo {
    width: 240px;
    height: 80px;
    display: flex;
    position: relative;
    right: 60px;
    grid-area: logo;
}

    .navbar__logo a {
        margin: auto 0;
    }

    .navbar__logo img {
        width: 100%;
        object-fit: contain;
    }

.narbar__options {
    grid-area: options;
    display: flex;
    margin: 0 auto;
}


.narbar__options--item {
    font-size: 1.4rem;
    margin: auto 15px;
}

    .narbar__options--item a {
        color: #555;
    }

.options__title {
    display: flex;
}

    .options__title i {
        font-size: 1rem;
        position: relative;
        right: -3px;
        top: 3px;
    }

.narbar__extra {
    grid-area: cart;
    width: 240px;
    height: 80px;
    display: flex;
    justify-content: right;
}

.cartIcon {
    font-size: 2.5rem;
    margin: auto 0;
    color: var(--primary-color);
}

.log {
    background-color: #222;
    height: 35px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 10px;
    position: fixed;
    right: 15%;
    top: -3px;
}

    .log i {
        color: var(--white-color);
        line-height: 30px;
        font-size: 1.5rem;
        padding: 0 8px;
    }    

        .log i:hover {
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 50px;
        }
    .log span {
        line-height: 35px;
        color: var(--white-color);
        font-size: 1.5rem;
    }

    .log:hover {
        top: 0;
        cursor: pointer;
    }
    

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}
/* Xử lí List Options */
.narbar__options--item:hover .list {
    display: block;
}

.narbar__options--item:hover .options__title {
    color: var(--primary-color);
}

.narbar__options--item ul {
    margin: 0;
    position: absolute;
    min-width: 110px;
    display: none;
}

.narbar__options--item li {
    line-height: 30px;
    color: #555;
}

.listOption {
    display: block;
    padding: 0 10px;
    height: 30px;
}

    .listOption:hover {
        background-color: #fff;
        color: #555;
    }

.iconCart {
    margin: auto 0;
}

/* .navbar__mobile--overlay{
    display: none;
} */

/* RESPONSIVE */
@media only screen and (max-width: 1024px) {
    .narbar {
        padding: 0 50px;
    }

    .narbar__content {
        grid-template-columns: 100px 1fr 100px;
        grid-template-areas: "options logo cart";
    }

    .navbar__mobile--bars {
        display: block;
        grid-area: options;
        margin: auto 0;
        cursor: pointer;
    }

        .navbar__mobile--bars i {
            font-size: 2.5rem;
            color: var(--primary-color);
        }

    .navbar__mobile--overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.2);
        display: none;
    }
    /*  */
    .narbar__options--mobile {
        background-color: #fff;
        position: fixed;
        top: 80px;
        left: 0;
        bottom: 0;
        width: 200px;
        padding: 10px 0;
        display: grid;
        grid-template-columns: 170px 30px;
        border-top-right-radius: 10px;
        transform: translateX(-100%);
    }

    .narbar__options--item {
        margin: 0;
    }

        .narbar__options--item a {
            font-size: 1.5rem;
            line-height: 3rem;
            padding: 0 30px;
        }

            .narbar__options--item a:hover {
            }

    .options__title i {
        right: -3px;
        top: 10px;
    }

    .cancel {
        margin: 0 auto;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .navbar__mobile--input {
        display: none;
    }

    .navbar__mobile--input:checked ~ .navbar__mobile--overlay {
        display: block;
    }

    .navbar__mobile--input:checked ~ .narbar__options--mobile {
        transform: translateX(0%) translateY(-13.1%) !important;
        height: 100% !important;
    }
    /*.narbar__options--mobile {
        transform: translateX(0%) translateY(-9.1%) !important;
        height: 100% !important;
    }*/


    /*  */
    .navbar__logo {
        width: 240px;
        height: 80px;
        display: flex;
        position: relative;
        right: 0px;
    }

    .navbar__logo {
        margin: auto;
    }

    .narbar__options {
        display: none;
    }

    .narbar__extra {
        width: auto;
        height: 80px;
        display: flex;
        justify-content: right;
    }
}

@media only screen and (min-width: 1025px) {
    .narbar__options--mobile,
    .navbar__mobile--bars,
    .navbar__mobile--input,
    .navbar__mobile--overlay {
        display: none;
    }
}
