body {
    cursor: default;
    background-image: url(image/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 1vh;
}

.container {
    width: 100%;
    position: fixed;
    top: 0;
}

.formSignIn {
    margin: 100px auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 450px;
    width: 450px;
    margin-top: 100px;
    border: 10px solid var(--primary-color);
    border-radius: 5px;
    background-color: #222;
}

.image {
    width: 300px;
    object-fit: contain;
    margin: 30px auto;
}

    .image img {
        width: 100%;
    }

.input__phoneNumber {
    display: flex;
    margin: 10px;
    padding: 0 50px;
}

.input__password {
    display: flex;
    margin: 10px;
    padding: 0 50px;
}

.input__icon {
    height: 30px;
    width: 30px;
    background-color: #a5a5a5;
    display: block;
    text-align: center;
}

    .input__icon i {
        font-size: 1.3rem;
        line-height: 30px;
    }

.input__value {
    width: 200px;
    height: 40px;
    flex: 1;
}

    .input__value input {
        width: 100%;
        height: 100%;
        font-size: 1.6rem;
        border-radius: 30px;
        padding: 0 20px;
    }

        .input__value input:focus {
            outline: none;
        }

::placeholder {
    font-size: 1.3rem;
}

#error {
    color: red;
    font-size: 1.4rem;
}

.btn {
    text-align: center;
    border: none;
    margin: 10px 0;
    padding: 0 30px;
    display: block;
}

.btn a {
    background-color: var(--primary-color);
    font-size: 1.5rem;
    border: none;
    border-radius: 30px;
    display: block;
    width: 150px;
    margin: 0 auto;
}

.btn a:hover {
        color: var(--white-color);
        background-color: var(--button-hover-color);
        cursor: pointer;
}    

a {
    text-decoration: none;
}

.toSignUp {
    margin-top: 10px;
    font-size: 1.3rem;
    color: #bab9b9;
}

    .toSignUp a {
        color: var(--white-color);
    }



/* RESPONSIVE */
@media only screen and (max-width: 1024px) {
    body {
        /* background-image: none; */
        /* background-size: 120%; */
        background-image: url(image/background5.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
}
